/**
 * @file
 * Defualt CSS for Cove API Player.
 *
 * For additional theming information, see COVE documentation on PBS Confluence
 * (https://projects.pbs.org/confluence).
 */
.partner-player {
  max-width: 512px;
}
.partner-player div {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.partner-player div iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
